# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
ENV/

# Variables de entorno secretas (NUNCA subir a git)
.env
.env.local
.env.cloud
.env.tmp
pruebas/log_*.txt
.secret_key
backend/.secret_key

# Node y Frontend
node_modules/
frontend/node_modules/
.firebase/

# Bases de datos y respaldos
*.sqlite3
*.db
backups/
pgdata/
media_data/

# Herramientas de desarrollo
.vscode/
.idea/
.DS_Store
*.log
# Archivos temporales de la CLI de Supabase
supabase/
